.card{
    position: relative;
}

.card img{
    width: 100%;
    height: 300px ;
    border: 5px black solid;
    border-radius: 20px;
}

.card .front {
    transform: rotateY(90deg);
    position: absolute;
}

.flipped .front{
    transform: rotateY(0deg);
}