@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Playpen+Sans:wght@800&display=swap');

:root{
  --primary-font: 'Playpen Sans', cursive;
  --secondary-font: 'Noto Sans JP', sans-serif;
  --background-color: 
}

* {
  box-sizing: border-box
}

body{
  text-align: center;
  font-family: var(--primary-font);
  font-size: 30px;
  margin: 10%;
  margin-top: 2%;
}

button{
  width: 24%;
  padding: 20px;
  border-radius: 10px;
  font-family: var(--secondary-font);
  font-size: 30px;
}

button:hover{
  background-color: #FBE098;
}




